$color-primary: #409eff;

$spacing-mini: 8px;
$spacing-small: 12px;
$spacing-medium: 16px;
$spacing-base: 24px;

$text-color-base: #262626;
$text-color-gray: #808080;

$font-size-base: 12px;

$border-color-base: #e3e6eb;

$border-radius-base: 3px;

$sidebar-width: 48px;
$sidebar-background: #f1f2f5;

$card-box-shadow: 0px 2px 4px 0px rgba(#000, 0.03);

@mixin text-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
